.clickableName {
    cursor: pointer;
}

.glyphicon {
    font-size: 32px;
}

.row{
        text-align:center;
}

.contentBody {
    padding-top: 70px;
}

.downloadPromt{
  width:50%;
    height: auto;
  padding-top:100px;
padding-right:50px;
padding-bottom:50px;
padding-left:50px;
}

#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.paddy{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}

.setwidth1 {
    width: 30%;
}

.setwidth2 {
    width: 13.33%;
}

.setwidth3 {
    width: 15%;
}

.setwidth4 {
    width: 10%;
}
